* {

background-color: peachpuff;

}


.panel {
    font: 16px;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid rgb(80, 179, 192);
    padding: 15px;
    width: 500px;
    height: 500px;
    text-align: left;
    
    
  }
  
  .button {
    font: 22px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(51, 192, 110);
    padding: 10px 42px;
    color: white;
  }
  
  h1 {
    margin-top: 5px;
    font-size: 170%;
  }

#align-left {
text-align: left;

}

#blockdisplay button{
  margin-bottom:10px;
  display:block;

}

label, p {
  font-size: 30px;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2em;
  border: 1px solid #5272a3;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #5d7fb3;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #dd4b4b;
  color: white;
  font-size: 1em;
}